<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="audacity" />
  <package id="bitwarden" />
  <package id="composer" />
  <package id="dotnetcore-sdk" />
  <package id="firefox" />
  <package id="gimp" />
  <package id="git" />
  <package id="golang" />
  <package id="hugo" />
  <package id="linphone" />
  <package id="ngrok" />
  <package id="nodejs" />
  <package id="obs-studio" />
  <package id="php" />
  <package id="phpstorm" />
  <package id="putty" />
  <package id="sql-server-management-studio" />
  <package id="synergy" />
  <package id="sysinternals" />
  <package id="vagrant" />
  <package id="virtualbox" />
  <package id="visualstudio2019community" />
  <package id="vscode" />
  <package id="winscp" />
  <package id="wireshark" />
  <package id="yarn" />
</packages>
